<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Logg inn</h1>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Du må være logget inn for å kunne chatte</h3>
            </div>
            <div class="panel-body">
                <p>Velg tjenesten du vil logge på med:</p>
                <ul>
                    <li>
                        <a href="/auth/login/facebook">Facebook</a>
                    </li>
                    <li>
                        <a href="/auth/login/github">GitHub</a>
                    </li>
                    <li>
                        <a href="/auth/login/google">Google</a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>